doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') Traffic.YYC
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#deerfootRow') Deerfoot
          li.nav-item
            a.nav-link(href='#glenmoreRow') Glenmore
          li.nav-item
            a.nav-link(href='#crowchildRow') Crowchild
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/products') Products
          li.nav-item
            a.nav-link(href='/contact') Contact
    .jumbotron.jumbotron-fluid
      .container
        br
        h1.display-4.text-center Home
        p.lead.text-center Below is the current traffic on major Calgary Freeways, as per the city data.
    .container.mainContainer
      #deerfootRow.row.tableRow
        h3.display-4.tableHeader Deerfoot Tr.
        table#deerfootTable.table
          tr
            th(scope='col') From
            th(scope='col')
              i.fa.fa-long-arrow-right
            th(scope='col') To
            th(scope='col') Expected
            th(scope='col') Current
            th(scope='col') Delay
      br
      #glenmoreRow.row.tableRow
        h3.display-4.tableHeader Glenmore Tr.
        table#glenmoreTable.table
          tr
            th(scope='col') From
            th(scope='col')
              i.fa.fa-long-arrow-right
            th(scope='col') To
            th(scope='col') Expected
            th(scope='col') Current
            th(scope='col') Delay
      br
      #crowchildRow.row.tableRow
        h3.display-4.tableHeader Crowchild Tr.
        table#crowchildTable.table
          tr
            th(scope='col') From
            th(scope='col')
              i.fa.fa-long-arrow-right
            th(scope='col') To
            th(scope='col') Expected
            th(scope='col') Current
            th(scope='col') Delay
  footer
    .container.footer-container
      p.lead.text-center
        | Follow Us:
      ul.list-inline.text-center.social-media
        li.list-inline-item
          i.fa.fa-facebook
        li.list-inline-item
          i.fa.fa-twitter
        li.list-inline-item
          i.fa.fa-instagram
    script(type='text/javascript', src='./jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(type='text/javascript', src='./client.js')
